<h1><%= title %></h1>

<!-- Flash Message -->
<div class="flash-message">
    <%- messages() %>
</div>

<!-- Account Update Form -->
<form action="/account/update" method="post">
    <input type="hidden" name="account_id" value="account_id">
    <div class="form-group">
        <label for="name">New First Name:</label>
        <input type="text" id="accountFirstname" name="account_firstname" value="<%= locals.account_firstname %>" required>
    </div>
    <div class="form-group">
        <label for="name">New Last Name:</label>
        <input type="text" id="accountLastname" name="account_lastname" value="<%= locals.account_lastname %>" required>
    </div>
    <div class="form-group">
        <label for="email">New Email Address:</label>
        <input type="email" id="accountEmail" name="account_email" value="<%= locals.account_email %>" required>
    </div>
    <button type="submit">Update Account</button>
</form>
<br>
<!-- Change Password Form -->
<form action="/account/update" method="post">
    <input type="hidden" name="account_id" value="account_id">
    
    <div class="form-group">
        <label for="password">New Password:</label>
        <small>Your new password must be at least 8 characters long and include a mix of letters, numbers, and special characters</small>
        <input type="password" id="accountPassword" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required> 
    </div>

    <button type="submit">Change Password</button>
</form>